<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Manager.Model.BookMapper">
    <resultMap id="BookMap" type="Book">
        <id column="book_id" property="id"/>
        <result column="borrowed_date" property="borrowedDate"/>
        <association property="bookInfo" column="book_id" resultMap="Manager.Model.BookInfoMapper.BookInfoMap"/>
        <association property="reader" column="reader_id" resultMap="Manager.Model.ReaderMapper.ReaderMap"/>
    </resultMap>
    <insert id="insertBook">
        INSERT INTO book
        (book_id, book_info_id, reader_id, borrowed_date) VALUES (#{id}, #{bookInfoId}, #{readerId}, #{borrowedDate})
    </insert>
    <select id="selectBookById" parameterType="String" resultMap="BookMap">
      SELECT
        book_id, borrowed_date, bookInfo.info_id,bookinfo.title,pub_date,publisher,ISBN,amount,book_category.*,reader.*
      FROM
        book INNER JOIN bookInfo ON book.book_info_id = bookinfo.info_id
        INNER JOIN book_category ON bookinfo.category_id = book_category.category_id
        LEFT JOIN reader ON book.reader_id = reader.reader_id
      WHERE book_id=#{id}
    </select>

    <select id="selectBookByBookInfo" parameterType="BookInfo" resultMap="BookMap">
        SELECT
        book_id, borrowed_date, bookInfo.info_id,bookinfo.title,pub_date,publisher,ISBN,amount,book_category.*,reader.*
        FROM
        book INNER JOIN bookInfo ON book.book_info_id = bookinfo.info_id
        INNER JOIN book_category ON bookinfo.category_id = book_category.category_id
        LEFT JOIN reader ON book.reader_id = reader.reader_id
        WHERE info_id = #{id}
        ORDER BY book_id DESC
    </select>

    <select id="selectBookByReader" parameterType="Reader" resultMap="BookMap">
        SELECT
        book_id, borrowed_date, bookInfo.info_id,bookinfo.title,pub_date,publisher,ISBN,amount,book_category.*,reader.*
        FROM
        book INNER JOIN bookInfo ON book.book_info_id = bookinfo.info_id
        INNER JOIN book_category ON bookinfo.category_id = book_category.category_id
        LEFT JOIN reader ON book.reader_id = reader.reader_id
        WHERE book.reader_id = #{id}
        ORDER BY book_id DESC
    </select>
    <update id="updateBookById" parameterType="Book">
        UPDATE book SET borrowed_date = #{borrowedDate}, reader_id = #{readerId}
        WHERE book_id = #{id}
    </update>
    <delete id="deleteBookById">
        DELETE FROM book WHERE book_id = #{id}
    </delete>
    <delete id="deleteBookByBookInfo" parameterType="BookInfo">
        DELETE FROM book WHERE book_info_id = #{id}
    </delete>

</mapper>