<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Manager.Model.BookLogMapper">
    <resultMap id="bookLogMap" type="BookLog">
        <id column="log_id" property="id"/>
        <result property="borrowedDate" column="borrowed_date"/>
        <association property="book" columnPrefix="book." resultMap="Manager.Model.BookMapper.BookMap"/>
        <association property="category" column="category_id" resultMap="Manager.Model.BookCategoryMapper.CategoryMap"/>
    </resultMap>
    <select id="selectAllBookLogs" resultMap="bookLogMap">
        SELECT * FROM book_log INNER JOIN book ON book_log.book_id=book.book_id INNER JOIN reader ON book_log.reader_id = reader.reader_id

    </select>
</mapper>