<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Manager.Model.ReaderMapper">
    <resultMap id="ReaderMap" type="Reader">
        <id property="id" column="reader_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="frozen" column="frozen"/>
        <result property="maxBorrowCount" column="max_borrow_count"/>
    </resultMap>
    <select id="getAllReaders" resultMap="ReaderMap">
        select * from reader
    </select>

    <select id="selectReaderById" parameterType="Integer" resultMap="ReaderMap">
        select * from reader WHERE reader_id=#{id};
    </select>

    <update id="updateReader" parameterType="Reader">
        update reader set name = #{name}, address=#{address}, frozen=#{frozen} where reader_id=#{id};
    </update>

    <insert id="addReader" parameterType="Reader">
        insert into reader (name, address) values (#{name}, #{address});
    </insert>

    <delete id="deleteReader" parameterType="Reader">
        DELETE FROM reader WHERE reader_id = #{id};
    </delete>

</mapper>