<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Manager.Model.ReaderMapper">
    <select id="getAllReaders" resultType="Reader">
        select reader.id, reader.name, reader.address, reader.frozen, COUNT (book.id)from reader LEFT JOIN book ON reader.id = book.borrower;
    </select>

    <select id="selectReaderById" resultType="Reader">
        select * from reader WHERE id=#{id};
    </select>

    <select id="getBorrowedBooks" parameterType="Integer" resultType="Book">
        select * from book WHERE borrower=#{borrower};
    </select>

    <update id="updateReader" parameterType="Reader">
        update reader set name = #{name}, address=#{address}, frozen=#{frozen} where id=#{id};
    </update>

    <insert id="addReader" parameterType="Reader">
        insert into reader (name, address) values (#{name}, #{address});
    </insert>

    <delete id="deleteReader" parameterType="Reader">
        DELETE FROM reader WHERE id = #{id};
    </delete>

</mapper>